@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8fafc;
}

html .input-league-filter {
  color: #000;
}

html.night-blue {
  --bg-color: #15202b;
  --text-color: #ffffff;
  --secondary-bg-color: #324e8a;
  --secondary-text-color: #cccccc;
}

html.night-blue .background-container {
  background: #15202b;
}

html.night-blue .navbar {
  background: #15202b;
}

html.night-blue .navbar-theme-option {
  background: #15202b;
}

html.night-blue .bg-match-item {
  background: #1e2a35;
}

/* #e5e7eb */
html.light {
  --bg-color: #f8fafc;
  --text-color: #000000;
  --secondary-bg-color: green; /* Secondary background color for light theme */
  --secondary-text-color: #333333;
}

html.light .background-container {
  background: #e5e7eb;
}

html.light .navbar {
  background: #f8fafc;
}

html.light .bg-match-item {
  background: #f8fafc;
}

html.light .navbar-theme-option {
  background: #f8fafc;
}

html.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --secondary-bg-color: #333333; /* Secondary background color for dark theme */
  --secondary-text-color: #aaaaaa;
}

html.dark .background-container {
  background: #000000;
}

html.dark .navbar {
  background: #000000;
}

html.dark .navbar-theme-option {
  background: #000000;
}

html.dark .bg-match-item {
  background: #2a2a2a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}
